@model IEnumerable<ApplicationUser>

@{
	ViewBag.PageTitle = "Users Managment";
	ViewBag.CardTitle = "Users";
	Layout = "~/Views/Shared/_Dashbord.cshtml";
}

<div>
	<a class="btn btn-primary" href="/Identity/Account/Register">Create a new user</a>

</div>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>Phone number</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var user in Model)
		{
			<tr>
				<td>@user.FirstName @user.LastName</td>
				<td>@user.Email</td>
				<td>@user.PhoneNumber</td>
				<td>
					@if(user.LockoutEnd==null || user.LockoutEnd<DateTime.UtcNow)
					{
						<a asp-action="LockUnLock" class="btn btn-success" asp-route-id="@user.Id">
							<i class="fas fa-lock-open"></i>
						</a>
					}
					else
					{
						<a asp-action="LockUnLock" class="btn btn-success" asp-route-id="@user.Id">
							<i class="fas fa-lock"></i>
						</a>
						
					}
					
				</td>
			</tr>
		}
	</tbody>
</table>


